<footer class="w-full h-24 flex flex-col justify-center p-2 mb-20 bg-background sm:h-16 sm:mb-0">
  <div class="mx-auto flex flex-row justify-center gap-4 mb-3 sm:hidden">
    {{- with .Site.Params.gitlabUser -}}
    <a href="https://gitlab.com/{{ . }}" target="_blank" rel="noopener noreferrer" aria-label="Open my GitLab account">
      <i class="stroke-text" data-feather="gitlab"></i>
    </a>
    {{- end -}}
    {{- with .Site.Params.githubUser -}}
    <a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer" aria-label="Open my GitHub account">
      <i class="stroke-text" data-feather="github"></i>
    </a>
    {{- end -}}
    {{- with .Site.Params.linkedinUser -}}
    <a href="https://www.linkedin.com/in/{{ . }}" target="_blank" rel="noopener noreferrer" aria-label="Open my LinkedIn profile">
      <i class="stroke-text" data-feather="linkedin"></i>
    </a>
    {{- end -}}
    {{- with .Site.Params.mail -}}
    <a href="mailto:{{ . }}" aria-label="Write me an email">
      <i class="stroke-text" data-feather="mail"></i>
    </a>
    {{- end -}}
  </div>
  <p class="mx-auto text-text">&copy; {{ now.Format "2006" }} Lorenzo Capalbo</p>
</footer>
