<header class="w-full fixed left-0 bottom-0 sm:relative">
  <nav class="flex justify-between items-center h-20 px-6 py-4">
    <!-- Logo -->
    <a href="#" class="">
      <img class="w-12 duration-500 ease-in-out hover:scale-110" src="/img/logo.svg" alt="personal logo">
    </a>

    <!-- Mobile menu -->
    <div id="menu" class="w-full fixed left-0 bottom-menu mb-20 duration-500">
      <div class="px-8 py-8 mx-4 bg-card shadow-menu rounded-2xl">
        <ul class="grid grid-cols-3 gap-6">
          {{- range .Site.Menus.main -}}
          {{- $url := .URL | relLangURL }}
          <li>
            <a href="{{ $url }}" class="menu-link flex flex-col items-center">
              <i class="stroke-secondary" width="32px" height="32px" data-feather="{{ .Params.icon }}"></i>
              <p class="text-text">{{ .Name }}</p>
            </a>
          </li>
          {{- end -}}
        </ul>
      </div>
    </div>

    <div class="flex justify-between">
      <!-- Desktop menu -->
      <div class="hidden sm:flex sm:flex-col sm:justify-center">
        <div class="flex flex-row gap-6 mr-8">
          {{- range .Site.Menus.main -}}
          {{- if ne .URL "#" -}}
          {{- $url := .URL | relLangURL }}
          <a href="{{ $url }}" class="menu-link flex flex-col items-center">
            <p class="text-text duration-200 hover:text-primary">{{ .Name }}</p>
          </a>
          {{- end -}}
          {{- end -}}
        </div>
      </div>

      <!-- Lang toggler -->
      <div class="mr-5 cursor-pointer sm:mr-0" id="toggle-theme">
        <i class="stroke-text duration-200 hover:stroke-primary sm:w-8" width="32px" height="32px"
          data-feather="globe"></i>
      </div>

      <!-- Menu toggler -->
      <div id="menu-toggle" class="cursor-pointer sm:hidden">
        <i class="stroke-text" width="32px" height="32px" data-feather="menu"></i>
      </div>
      <div class="cursor-pointer hidden" id="menu-close">
        <i class="stroke-text" width="32px" height="32px" data-feather="x"></i>
      </div>
    </div>
  </nav>
</header>
