<div class="h-full mx-auto hidden sm:flex flex-col justify-center gap-5 sm:fixed sm:bottom-0 sm:left-10">
  {{ with .Site.Params.gitlabUser }}
  <a href="https://gitlab.com/{{ . }}" target="_blank" rel="noopener noreferrer">
    <i class="stroke-text duration-200 hover:stroke-primary" data-feather="gitlab"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.githubUser }}
  <a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer">
    <i class="stroke-text duration-200 hover:stroke-primary" data-feather="github"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.linkedinUser }}
  <a href="https://www.linkedin.com/in/{{ . }}" target="_blank" rel="noopener noreferrer">
    <i class="stroke-text duration-200 hover:stroke-primary" data-feather="linkedin"></i>
  </a>
  {{ end }}
  {{ with .Site.Params.mail }}
  <a href="mailto:{{ . }}">
    <i class="stroke-text duration-200 hover:stroke-primary" data-feather="mail"></i>
  </a>
  {{ end }}
</div>
</section>
