@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: #dcdfe5;
    --color-text-base: #23272f;
    --color-accent: #e62e3d;
    --color-card: #f6f7f9;
    --color-card-muted: #f6f7f9;
    --color-border: #ffffff0d;
  }

  html[data-theme="dark"] {
    --color-fill: #191c22;
    --color-text-base: #f6f7f9;
    --color-accent: #cc3340;
    --color-card: #23272f;
    --color-card-muted: #23272f;
    --color-border: #ffffff0d;
  }

  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }

  a {
    @apply focus-outline;
  }

  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }

  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
}

@layer components {
  svg {
    stroke: var(--color-text-base);
    transition-duration: 75ms;
  }

  svg:hover {
    stroke: var(--color-accent);
  }

  .focus-outline {
    @apply rounded-md outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline;
  }
}
