:root {
  --primary: #e63946;
  --secondary: #000000;
  --text: #000000;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #ffffff;
    --text: #a6adbb;
    --background: #191e24;
  }
}

h1 {
  color: var(--secondary);
}

p {
  color: var(--text);
}
