{{- define "main" }}
<section class="min-h-screen flex flex-col justify-center">
  <div class="mb-24 sm:mb-60">
    <p class="text-md font-light text-center text-primary mb-2 sm:text-xl sm:mb-4">Greetings, I'm</p>
    <h1 class="text-4xl font-semibold text-center text-text mb-5 sm:text-6xl sm:mb-10">Lorenzo Capalbo</h1>
    <p class="text-lg text-center text-text sm:text-2xl">I design and build software products</p>
  </div>
</section>
<section id="about" class="min-h-50 max-w-5xl pt-8 mb-20 flex flex-col">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">Hi, I'm Lorenzo</h2>
  <p class="text-lg text-center text-text mb-4 sm:text-xl sm:text-left sm:mb-6">
    I began my programming journey in middle school, driven by curiosity. Subsequently, I learned about networking and
    web development in high school, mastering <b>Django</b> and <b>Bootstrap</b>.
  </p>
  <p class="text-lg text-center text-text mb-4 sm:text-xl sm:text-left sm:mb-6">
    Moving to this day, I'm enrolled in a <b>university degree</b>, seeking to expand my understanding of AI and become
    a data scientist.
  </p>
  <p class="text-lg text-center text-text mb-4 sm:text-xl sm:text-left sm:mb-6">
    I'm genuinely curious, capable of teamwork and willful to improve along my experiences.
  </p>
</section>
<section id="skills" class="min-h-50 w-full pt-8 mb-20 flex flex-col items-center">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">Skills</h2>
  <div class="grid gap-4 sm:mx-20 lg:grid-cols-2">
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle1" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="layout"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">Frontend developer</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card1" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text">
          <li>HTML</li>
          <li>Bootstrap</li>
          <li>TailwindCSS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle2" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="database"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">Backend developer</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card2" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text">
          <li>Linux</li>
          <li>Django</li>
          <li>Python</li>
          <li>Java</li>
          <li>SQL</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle3" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="crosshair"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">Game developer</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card3" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text">
          <li>Godot</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle4" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="settings"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">DevOps</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card4" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text">
          <li>Agile</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>GitLab</li>
          <li>Docker</li>
          <li>CI/CD</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="journey">

</section>
{{- end -}}
