{{- define "main" }}
<section class="min-h-screen px-8 flex flex-col justify-center">
  <div class="mb-24 sm:mb-60">
    <p class="text-md font-light text-center text-primary mb-2 sm:text-xl sm:mb-4">Greetings, I'm</p>
    <h1 class="text-4xl font-semibold text-center text-text mb-5 sm:text-6xl sm:mb-10">Lorenzo Capalbo</h1>
    <p class="text-lg text-center text-text sm:text-2xl">I design and build software products</p>
  </div>
</section>
<section id="about" class="min-h-50 max-w-5xl px-8 mb-32 flex flex-col">
  <h2 class="text-2xl text-center text-secondary mb-6 sm:text-4xl sm:mb-10">Hi, I'm Lorenzo</h2>
  <p class="text-lg text-center text-text mb-4 sm:text-xl sm:mb-6">
    I began my programming journey in middle school, driven by curiosity. Subsequently, I learned about networking and
    web development in high school, mastering <b>Django</b> and <b>Bootstrap</b>.
  </p>
  <p class="text-lg text-center text-text mb-4 sm:text-xl sm:mb-6">
    Moving to this day, I'm enrolled in a <b>university degree</b>, seeking to expand my understanding of AI and become
    a data scientist.
  </p>
  <p class="text-lg text-center text-text mb-4 sm:text-xl sm:mb-6">
    I'm genuinely curious, capable of teamwork and willful to improve along my experiences.
  </p>
</section>
{{- end -}}
