---
import { SITE } from "@config";
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Icon } from "astro-icon/components";

import { getRelativeLocaleUrl } from "astro:i18n";
import LinkButton from "@components/LinkButton.astro";
---

<Base
  title={Astro.currentLocale == "en"
    ? `404 Not Found | ${SITE.title}`
    : `404 Non Trovato | ${SITE.title}`}
>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <Icon
        class="mb-4 h-16 w-16 text-skin-accent sm:mb-6 sm:h-20 sm:w-20"
        name="lucide:file-question"
      />
      {
        Astro.currentLocale == "en" ? (
          <>
            <h1 aria-label="404 Not Found">Looks like you're lost</h1>
            <p>The page you're looking for doesn't exist</p>
            <LinkButton
              text="Go back home"
              href={getRelativeLocaleUrl("en", "")}
              ariaLabel="Go back to the homepage"
            />
          </>
        ) : (
          <>
            <h1 aria-label="404 Non Trovato">Sembra che tu ti sia perso</h1>
            <p>La pagina che stai cercando non esiste</p>
            <LinkButton
              text="Torna alla home"
              href={getRelativeLocaleUrl("it", "")}
              ariaLabel="Torna alla homepage"
            />
          </>
        )
      }
    </div>
  </main>
</Base>

<Footer />

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 flex-col items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply mb-4 text-center text-3xl font-semibold text-skin-base sm:mb-6 sm:text-5xl;
  }
  .not-found-wrapper a {
    @apply mt-5 flex flex-col gap-3 rounded-xl bg-skin-accent px-4 py-2 shadow-xl duration-300 ease-in-out hover:scale-110 sm:mt-8;
  }
  .not-found-wrapper p {
    @apply mb-4 text-center text-lg text-skin-base sm:mb-6 sm:text-left sm:text-xl;
  }
</style>
