---
import { SITE } from "@config";

import Main from "@layouts/Main.astro";
import Section from "@components/Section.astro";
import SocialsDesktop from "@components/SocialsDesktop.astro";
import Base from "../layouts/Base.astro";
import Skill from "@components/Skill";
import { Icon } from "astro-icon/components";
---

<Base title="Lorenzo Capalbo">
  <Main>
    <SocialsDesktop />
    <section class="flex min-h-screen flex-col justify-center">
      <div class="mb-24 sm:mb-60">
        <p
          class="mb-4 text-center text-xl font-light text-skin-accent sm:mb-5 sm:text-2xl"
        >
          Greetings, I'm
        </p>
        <h1
          class="mb-5 text-center text-4xl font-semibold text-skin-base sm:mb-8 sm:text-6xl"
        >
          {SITE.author}
        </h1>
        <p class="text-center text-lg text-skin-base sm:text-2xl">
          I design and build software products
        </p>
      </div>
    </section>
    <Section title="Hi, I'm Lorenzo">
      <div class="max-w-4xl sm:ml-12">
        <p
          class="mb-4 text-center text-lg text-skin-base sm:mb-6 sm:text-left sm:text-xl"
        >
          I began my programming journey in middle school, driven by curiosity.
          Subsequently, I learned about networking and web development in high
          school, mastering <b>Django </b>and <b>Bootstrap</b>.<br />
          Moving to this day, I'm enrolled in a <b>university degree</b>,
          seeking to expand my understanding of AI and become a data scientist.<br
          />
          I'm genuinely curious, capable of teamwork and willful to improve along
          my experiences.
        </p>
      </div>
    </Section>
    <Section title="Skills">
      <div class="grid gap-4 sm:mx-20 lg:grid-cols-2 2xl:grid-cols-3">
        <Skill name="Test">
          <Icon name="lucide:briefcase" />
          <Icon name="lucide:chevron-down" />
        </Skill>
      </div>

      <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
    </Section>
  </Main>
</Base>
