---
import { SITE } from "@config";

import LeftMilestone from "@components/milestone/LeftMilestone.astro";
import RightMilestone from "@components/milestone/RightMilestone.astro";
import Main from "@layouts/Main.astro";
import Section from "@components/Section.astro";
import SocialsDesktop from "@components/SocialsDesktop.astro";
import Base from "@layouts/Base.astro";
import Skill from "@components/Skill.astro";
---

<Base title="Lorenzo Capalbo">
  <Main>
    <SocialsDesktop />
    <section class="flex min-h-screen flex-col justify-center">
      <div class="mb-24 sm:mb-60">
        <p
          class="mb-4 text-center text-xl font-light text-skin-accent sm:mb-5 sm:text-2xl"
        >
          Salve, sono
        </p>
        <h1
          class="mb-5 text-center text-4xl font-semibold text-skin-base sm:mb-8 sm:text-6xl"
        >
          {SITE.author}
        </h1>
        <p class="text-center text-lg text-skin-base sm:text-2xl">
          Progetto e sviluppo prodotti software
        </p>
      </div>
    </section>
    <Section title="Ciao, sono Lorenzo">
      <div class="max-w-4xl sm:ml-12">
        <p
          class="mb-4 text-center text-lg text-skin-base sm:mb-6 sm:text-left sm:text-xl"
        >
          Ho iniziato a programmare quando ero ancora alle medie. Ho imparato lo
          sviluppo web e le reti durante la scuola superiore, padroneggiando <b
            >Django</b
          > e <b>Bootstrap</b>.<br />
          Ad oggi, sono iscritto a un <b>corso universitario</b>, dove sto
          espandendo la mia conoscenza dell'IA e diventando un data scientist.<br
          />
          Sono curioso, capace del lavoro di squadra e volenteroso di migliorare
          attraverso le mie esperienze.
        </p>
      </div>
    </Section>
    <Section title="Competenze">
      <div class="grid gap-4 sm:mx-20 lg:grid-cols-2 2xl:grid-cols-3">
        <Skill
          id="backend"
          name="Sviluppo backend"
          icon="lucide:database"
          items={["Linux", "Django", "Python", "Java", "SQL"]}
        />
        <Skill
          id="frontend"
          name="Sviluppo frontend"
          icon="lucide:layout-template"
          items={[
            "HTML",
            "CSS",
            "JavaScript",
            "TypeScript",
            "TailwindCSS",
            "Bootstrap",
          ]}
        />
        <Skill
          id="dev_ops"
          name="DevOps"
          icon="lucide:container"
          items={["CI/CD", "Docker", "Git", "GitHub", "GitLab"]}
        />
        <Skill
          id="gamedev"
          name="Sviluppo videogiochi"
          icon="lucide:gamepad-2"
          items={["Godot", "C++", "Pygame"]}
        />
        <Skill
          id="machine_learning"
          name="Machine Learning"
          icon="lucide:brain-circuit"
          items={["Pandas", "NumPy", "SKLearn", "RDF", "SPARQL", "Python"]}
        />
        <Skill
          id="scrum"
          name="Scrum"
          icon="lucide:users"
          items={["Product owner", "Scrum master"]}
        />
      </div>
    </Section>
    <Section title="Percorso">
      <div
        class="grid w-full max-w-xs grid-cols-journey gap-4 md:max-w-2xl md:grid-cols-journey-md"
      >
        <LeftMilestone
          title="Tecnico informatico"
          location="ITT Ettore Molinari"
          date="2017 - 2019"
        />
        <RightMilestone
          title="Studente d'interscambio"
          location="Danimarca"
          date="2019 - 2020"
        />
        <LeftMilestone
          title="Tecnico informatico"
          location="ITT Ettore Molinari"
          date="2020 - 2021"
        />
        <RightMilestone
          title="Dottore I.A."
          location="Università di Pavia"
          date="2021 - adesso"
          last
        />
      </div>
    </Section>
    <Section title="Contatti">
      <p
        class="mb-8 text-center text-lg text-skin-base sm:text-left sm:text-xl"
      >
        Sei interessato a costruire qualcosa insieme?
      </p>
      <a
        class="flex flex-col gap-3 rounded-xl bg-skin-accent px-4 py-2 shadow-xl duration-300 ease-in-out hover:scale-110"
        href={`mailto:${SITE.mail}`}
        aria-label="Contattami"
      >
        <p class="text-center text-lg text-skin-base sm:text-left sm:text-xl">
          Contattami
        </p>
      </a>
    </Section>
  </Main>
</Base>
