---
import "../styles/global.css";

const today = new Date();
---

<footer>
  <div></div>
  <p class="copyright">&copy; {today.getFullYear()} Lorenzo Capalbo</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 6rem;

    /* padding: 0.5rem; */
    margin-bottom: 3rem;

    background-color: var(--background);
  }

  .copyright {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    footer {
      height: 4rem;
      margin-bottom: 0rem;
    }
  }
</style>
