---
import Tag from "./Tag.astro";

export interface Props {
  href: string;
  title: string;
  description: string;
  tags?: string[];
}

const { href, title, description, tags } = Astro.props;
---

<div class="project-container">
  <div class="title-container">
    <a href={href}>
      <h3>{title}</h3>
    </a>
  </div>
  <p>{description}</p>
  <ul>
    {tags?.map(tag => <Tag name={tag} />)}
  </ul>
</div>

<style>
  .project-container {
    @apply flex h-fit w-fit max-w-screen-xl flex-col gap-3 rounded-xl bg-skin-card p-4 shadow-xl;
  }
  .title-container {
    @apply flex flex-row justify-center;
  }
  .project-container h3 {
    @apply m-1 text-xl font-bold text-skin-base underline underline-offset-4 duration-75 hover:text-skin-accent sm:text-2xl;
  }
  .project-container p {
    @apply text-base text-skin-base sm:text-xl;
  }
  .project-container ul {
    @apply flex flex-row gap-4 text-sm;
  }
  .links-container {
    @apply flex flex-row items-center justify-center gap-4;
  }
  img {
    @apply h-20 w-20;
  }
</style>
