---
import { Icon } from "astro-icon/components";
---

<a
  id="scroll-up"
  class="fixed -bottom-full right-4 rounded-xl bg-skin-card p-2 opacity-70 shadow-xl duration-300 ease-in-out hover:scale-110 sm:right-8"
  href="#"
  aria-label="Scroll to the top of the page"
  data-astro-reload
>
  <Icon class="text-skin-base" name="lucide:chevron-up" />
</a>

<script>
  document.addEventListener("astro:page-load", () => {
    const scroll = document.getElementById("scroll-up");

    window.addEventListener("scroll", () => {
      if (window.scrollY <= 360) {
        scroll?.classList.remove("bottom-4");
        scroll?.classList.remove("sm:bottom-8");
        scroll?.classList.add("-bottom-full");
      } else {
        scroll?.classList.add("bottom-4");
        scroll?.classList.add("sm:bottom-8");
        scroll?.classList.remove("-bottom-full");
      }
    });
  });
</script>
