---
import { useTranslation } from "@utils/i18n";
import { Icon } from "astro-icon/components";

const t = useTranslation(Astro.currentLocale);
---

<button
  id="scroll-top"
  class="fixed -bottom-full right-4 rounded-xl bg-skin-card p-2 opacity-70 shadow-xl duration-300 ease-in-out hover:scale-110 sm:right-8"
  aria-label={t("nav.scrollTop")}
>
  <Icon class="text-skin-base" name="lucide:chevron-up" />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const scroll = document.getElementById("scroll-top");

    window.addEventListener("scroll", () => {
      if (window.scrollY <= 360) {
        scroll?.classList.remove("bottom-4");
        scroll?.classList.remove("sm:bottom-8");
        scroll?.classList.add("-bottom-full");
      } else {
        scroll?.classList.add("bottom-4");
        scroll?.classList.add("sm:bottom-8");
        scroll?.classList.remove("-bottom-full");
      }
    });

    scroll?.addEventListener("click", () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  });
</script>
