---
import { SOCIALS } from "@config";
import SocialButton from "./SocialButton.astro";
---

<div>
  {
    SOCIALS.map(social => (
      <SocialButton
        href={social.href}
        aria-label={social.linkTitle}
        icon={social.icon}
      />
    ))
  }
</div>

<style>
  div {
    @apply mx-auto hidden h-full flex-col justify-center gap-3 sm:fixed sm:bottom-0 sm:left-10 sm:flex;
  }
</style>
