---
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  icon: string;
  ariaLabel: string;
}

const { href, icon, ariaLabel } = Astro.props;
---

<a
  class="focus-outline p-1"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
>
  <Icon class="text-skin-base hover:text-skin-accent" name={icon} />
</a>
