---
import { Icon } from "astro-icon/components";

export interface Props {
  title: string;
  location: string;
  date: string;
}

const { title, location, date } = Astro.props;
---

<div class="milestone-container">
  <h3>{title}</h3>
  <div class="info-container">
    <Icon class="w-5 text-skin-base sm:w-8" name="lucide:map-pin" />
    <p>{location}</p>
  </div>
  <div class="info-container">
    <Icon class="w-5 text-skin-base sm:w-8" name="lucide:calendar-days" />
    <p>{date}</p>
  </div>
</div>

<style>
  .milestone-container {
    @apply flex max-w-screen-xl flex-col gap-3 rounded-xl bg-skin-card p-4 shadow-xl;
  }
  .milestone-container h3 {
    @apply mb-1 text-center text-lg font-bold text-skin-base sm:text-xl;
  }
  .info-container {
    @apply flex flex-row items-center gap-2;
  }
  .info-container p {
    @apply text-skin-base sm:text-lg;
  }
</style>
