---
import Header from "@components/Header.astro";
import Footer from "../components/Footer.astro";
import "@styles/global.css";

const { title } = Astro.props;
---

<!-- Change lang -->
<html prefix="og: http://ogp.me/ns#" lang="en">
  <!-- Insert custom meta head -->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="theme-color" content="" />

    <script is:inline src="/theme.js"></script>
  </head>
  <body>
    <!-- Insert social links (desktop) -->
    <!-- Insert header -->
    <Header />
    <slot />
    <Footer />
    <!-- Insert scroll_up -->
  </body>
</html>
