---
export interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { props } = Astro;
---

<main id="main-content">
  <h2>{props.pageTitle}</h2>
  <p>{props.pageDescription}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto flex w-full max-w-6xl flex-1 flex-col items-center px-4 pb-4;
  }
  #main-content h2 {
    @apply text-center text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 text-center text-lg sm:text-xl;
  }
</style>
